body{
    margin: 0px;
    padding: 0px;
    background-color: #f5f8ff;
}



.body-style{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.style{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* style */
.btn-primary{
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: bold;
    color: white;
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
}
.btn-primary:hover{
    background-color: white;
    color: #252432;
    border: 2px solid #4E47FF;
}
.text-align{
    text-align:center;
}
/* Navbar Section */
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 150px;
}
.nav-title{
    font-size: 34px;
    color: #4E47FF;
    font-weight: 900;
}
/* Banner Section */
.background-img{
    background-image: url('../Assets/Hero-bg.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0px;
}
.content-title{
    color: #252432;
    font-size: 65px;
    font-weight: bold;
}
.hero-content{
    margin-top: 100px;
}
/* Main Section */
.action-section{
    display: flex;
    gap: 100px;
    padding: 100px 140px;
}
.action-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}
.action-description{
    color: #252432;
    font-size: 24px;
}
.action-img{
    border-radius: 48px;
}

/* Productive Section*/
.productive-section{
    background-color: rgba(78, 71, 255, 0.1);
    margin: 0px 150px;
    border-radius: 10px;
    margin-bottom: 0px;
    padding: 50px 110px;
}
.user-title {
    font-size: 38px;
    font-weight: bold;
    text-align: center;
}
.items{
    display: flex;
    justify-content: space-around;
}
.item-title{
    color: #4E47FF;
    font-size: 80px;
    font-weight: bold;
    margin-top: 0px;
}
.item-description{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-top: 0px;
}

/* Review Section */
.review-section-title{
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 50px;
    margin-top: 80px;
    
}

.review-content{
    display: flex;
    gap: 25px;
    padding: 10px 16px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px 150px;
}
.review-item{
    border-radius: 15px;
    box-shadow: 5px 0px 5px rgba(161, 159, 159, 0.121);
    padding: 20px;
}
.review-icon{
    display: flex;

}
.review-title{
    font-size: 18px;
    font-weight: bold;
}
.review-description{
    color: #252432;
}
.review-avater{
    display: flex;
    align-items: center;
    gap: 15px;
}
.avater{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.review-item-title{
    font-size: 14px;
    margin: 0px;
    color: #252432;
}
.review-subtitle{
    font-size: 12px;
    margin-top: 0px;
}

/* Focus Section */
.focus-section{
    background-color: white;
    border-radius: 14px;
    margin: 100px 150px;
}
.focus-content{
    padding: 5px 200px;
}
.focus-title{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 0px;
}

.focus-description{
    font-size: 14px;
    margin-top: 20px;
    color: #252432;
    margin-bottom: 50px;
}

.focus-img-bg{
    border-radius: 48o=px;
    height: 360px;
    margin-top: 30px;
    margin-bottom: 50px;
    }

/* Touch Section */
.touch-section{
    display: flex;
    gap: 100px;
    padding: 0px 150px;
    align-items: center;
}
.touch-content{
    width: 50%;
}
.touch-title{
    font-size: 90px;
    font-weight: 500px;
}
.label-title{
    font-size: 16px;
    font-weight: bold;
}
.touch-section input[type="email"],.touch-section input[type="text"]{
    background-color: white;
    padding: 20px;
    height: 10px;
    border: none;
    border-radius: 10px;
    width: 80%;
    margin-bottom: 20p;
    margin-top: 10px;
}
.touch-section textarea{
    background-color: white;
    height: 120px;
    padding: 20px 30px;
    width: 80%; 
    border: none;
}
.btn-primary-1{
    background-color: #4E47FF;
    font-weight: bold;
    color: white;
    font-size: 16px;
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    width: 90%;
}
.btn-primary-1:hover{
    background-color: aquamarine;
    color: #252432;
    border: 2px solid #4E47FF;

}